<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
	<head>
		<title>three.js webvr - htc vive - dragging</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<style>
			body {
				font-family: Monospace,serif;
				background-color: #101010;
				color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			a {
				color: #f00;
			}
		</style>
	</head>
	<body>

		<script src="/js/three.min.js"></script>

		<script src="/js/ViveController.js"></script>
		<script src="/js/WebVR.js"></script>

		<script src="/js/OBJLoader.js"></script>

		<script src="/js/dragging.js"></script>
	</body>
</html>
